.new-message
 .input-box
  %input.input-box__text{name: "message[content]", placeholder: "type a message", type: "text", id: "message_content"}
   %label.input-box__image{for: "message_image"}
    = icon("fa", "image")
    %input.input-box__image__file{name: "message[image]", type: "file", id: "message_image"}
 %input.submit-btn{name: "comit", type: "submit", value: "send", data_disable_with: "send"}